body {
  background-color: $color-bg;
}

.auth-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 40px 40px;
  gap: 200px;
}

.auth-left {
  img {
    height: 90vh;
  }
}

.auth-right {
  padding: 60px;
  background-color: $color-white;
  border-radius: 12px;
  width: 100%;
  max-width: 500px;
}

.auth-input-field input {
  width: 100%;
  max-width: 100%;
}

.auth-title {
  font-family: $font-main;
  font-weight: $font-weight-bold;
  font-size: $font-size-xl;
  margin-bottom: 32px;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-input-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.auth-input-field {
  display: flex;
  flex-direction: column;

  label {
    font-family: $font-main;
    font-weight: $font-weight-bold;
    font-size: $font-size-base;
    color: $gray-500;
    margin-bottom: 4px;
  }

  input {
    border: 1px solid $gray-500;
    padding: 12px 20px;
    width: 100%;
    max-width: 496px;
    border-radius: 8px;
    font-size: $font-size-lg;
    outline: none;
    transition: all 0.2s ease;

    &:focus {
      border-color: $gray-500;
      box-shadow: 0 0 0 2px rgba(26, 26, 26, 0.1);
    }
  }
}

.auth-button {
  max-width: 100%;
  width: 100%;
  max-width: 496px;
  padding: 16px 0;
  border-radius: 8px;
  border: none;
  background-color: $color-black;
  color: $color-white;
  font-family: $font-main;
  font-weight: $font-weight-bold;
  font-size: $font-size-base;
  margin-bottom: 32px;
  cursor: pointer;
}

.auth-footer {
  display: flex;
  justify-content: center;
  gap: 8px;

  p {
    font-size: $font-size-base;
    color: $gray-500;
    font-family: $font-main;
  }

  a {
    font-weight: $font-weight-bold;
    font-size: $font-size-base;
    color: $color-black;
    text-decoration: underline;
    font-family: $font-main;
  }
}

.auth-input-field input {
  width: 100%;
  border: 1px solid $gray-300;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: $font-size-lg;
  outline: none;
  transition: all 0.25s ease;
  background-color: $color-white;

  &:hover {
    border-color: $gray-700;
  }

  &:focus {
    border-color: $color-black;
    box-shadow: 0 0 0 3px rgba(26, 26, 26, 0.15);
  }

  &::placeholder {
    color: $gray-500;
    opacity: 1;
    font-family: $font-main;
  }
}

/* Tablet (768px ) */
@media (max-width: 768px) {
  .auth-page {
    gap: 0;
    padding: 40px 20px;
  }

  .auth-left {
    display: none;
  }

  .auth-right {
    width: 100%;
    max-width: 500px;
  }
}

/* Mobile (480px ) */
@media (max-width: 480px) {
  .auth-page {
    flex-direction: column;
    padding: 20px 10px;
  }

  .auth-right {
    padding: 24px;
    border-radius: 8px;
    width: 100%;
  }

  .auth-title {
    font-size: 24px;
  }

  .auth-button {
    padding: 14px 0;
  }
}
